.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
  max-width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.p {
    font-size: 20px;
    text-align: left;
    padding: 20px;
}

.h2 {
    text-align: center;
}

.logo {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 30px;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid;
    font-size: 16px;
    font-family: 'catamaran', 'sans-serif';
}

body {
    font-family: 'Raleway', sans-serif;
    color: black;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.bottom {
    bottom: 0;
    background-color: #003366;
}

.top {
    top: 0;
    background-color: white;