.logo {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 30px;
    
}

.logoResults {
    margin-left: auto;
    margin-right: auto;
    display: block;    
     width:440px; /* you can use % */
    height: auto;
}
/*.parentButton img {
    height: 45px;
    position: relative;
    top: 45px;
    right: 160px;
}*/

.searchbox {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 35px;
    width: 280px;
    
    color: #003366;
    border: 1px solid;
    border-color: #CCCCCC;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.button {
    height: 50px;
    width: 180px;
    text-align: center;
    line-height: 50px;
    
    color: white;
    background-color: #003366;
    border: 1px solid;
    border-color: #CCCCCC;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'catamaran', 'sans-serif';
    margin-left: 20px;
    margin-right: 20px;
}

.parentButton {
    text-align: center;
    align-content: center;
    margin: 0 auto;
    display: block;
    padding-top: 35px;
}

.button:hover {
    background-color: #CC0000;
}


.navbar {
    background-color: white;
    border-bottom: 1px solid;
    font-size: 16px;
    font-family: 'catamaran', 'sans-serif';
}

li {
    list-style-position: inside;
    text-indent: -2em;
}

#quantity {
  float: left;
}
#inputQ {
  width: 100px;
    height: 47px;
}
#cart {
  float: right;
}

form.searchForm {
    margin:auto;
    max-width:350px;
}

form.searchForm input[type=text] {
    padding: 10px;
    font-size: 17px;
    color: #003366;
    border: 1px solid;
    border-color: #CCCCCC;
    border-radius: 10px;    
    float: left;
    width: 80%;
    background: #f1f1f1;
}


form.searchForm button {
    border-radius: 10px;    
    float: left;
    width: 20%;
    padding: 10px;
    background: #003366;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.bg-dark {
    background-color: #003366 !important;
}

.srh-btn {
    right: 10px;
    
}

ul li {
      display: inline-flex;
    padding-right: 25px;

}